
@import url('https://fonts.googleapis.com/css2?family=Tirra:wght@400;500;600;700&display=swap');

body{
  background-color: #FAF7F3;
font-family: "Tirra", sans-serif;
height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.receiptBox >p{
font-weight: 500;
}
.receiptBox>p>span{
  font-weight: 300;
  color: rgb(122, 114, 114);
}